---
import CheckboxOption from "./CheckboxOption.astro";
const {
  label = undefined,
  annotation = undefined,
  options = [],
  errorMessage = "必須のフィールドに入力してください。",
  required = false,
} = Astro.props;
---

<div class={`field-block`}>
  {
    label && (
      <p class="field-label">
        <span class="text">{label}</span>
        {required ? (
          <span class="badge required">必須</span>
        ) : (
          <span class="badge">任意</span>
        )}
      </p>
    )
  }
  {annotation && <p class="field-annotation">{annotation}</p>}
  {
    options.length > 0 ? (
      options.map(({ value, label, name }) => (
        <CheckboxOption type="checkbox" value={value} name={name}>
          {label}
        </CheckboxOption>
      ))
    ) : (
      <span class="text-alert">(No options listed)</span>
    )
  }
  <span class="error-message">{errorMessage}</span>
</div>
